

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Hind&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;

    /* background-color: gray; */
    font-family: 'EB Garamond', serif;
    /* font-family: 'Hind', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
/* font-family: 'Playfair Display', serif; */
}
#nav-bar{

    width: 98vw;
    height: 40px;
    padding-top: 19px;
    background-color: black;
    text-align: end;
    /* padding-right: 30px; */
    /* padding-left: 666px; */
    /* padding-right: 20px; */
    /* margin: auto; */
    color: white;
  
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    /* box-sizing: border-box; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* padding-left: px; */
    position: sticky;
    top: 0px;
    /* /margin: 10px; */

}

#nav-bar>p{
    /* width: fit-content; */
    background-color: black;
    color: white;
    text-align: left;
    margin-top: -20px;

    margin-left: 50px;
}
a{
    color: white;
}

#nav-bar>a{
    margin: 17px;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }
table{
    /* background-color: white; */
    margin-top: 20px;
    /* padding-bottom: 20px; */
    border-collapse: collapse;
    /* border: 1px solid; */
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    text-decoration: none;
    /* border-spacing: 0; */
}
form{
    box-sizing: border-box;
}

td{
    padding: 5px;
    text-align: center;
    /* width: 25vw; */
    /* height:100px; */
    vertical-align: middle;
   
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* color:darkslategray; */
    /* background-color: red; */
    /* width: 160px; */

}
thead>tr>th{
    padding: 10px;
    /* background-color:blue ; */
    /* color: white; */
    font-size: 24px;
    background-color: aqua;

}
.row-1{
    background-color:#eee

}

.row-2{
    background-color:lemonchiffon;
}
#last-row{
    background-color: #f1f1f1;
}
.form{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    /* font-weight: bold; */
    /* margin-bottom: 50px; */
}

.input1{
    font-weight: bold;
}
/* input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  } */

  input[type=text], input[type=password], input[type=email],input[type=date], input[type=number]{
    /* width: 100%; */
    padding: 3px;
    padding-left: 10px;
    /* margin-left: 10px; */
    /* margin: 5px 0 22px 0; */
    /* display: inline-block; */
    /* border: none; */
    background: #f1f1f1;
  }
  
 .btn{
    border: none;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    /* font-weight: bold; */
    border-radius: 12px;


 }
  
 #form-bg{
    margin-top: 25px;
    margin-left: 340px;
    width: 49vw;
    /* height: fit-content; */
    /* border: 2px solid red; */
    padding-bottom: 10px;
    /* border: 2 px solid gray; */
    box-sizing: border-box;
    /* box-shadow: 4px 4px ; */
    /* border: 1px solid; */
    /* border-radius: 15px; */
 }

 #text{
    /* border: 2 px solid red; */
 }
 form {
    background-color: ghostwhite;
    padding: 20px;
}
.input1{
    /* border: none; */
}

#register{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}